<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ポートフォリオ一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @portfolios.each do |portfolio| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to portfolio_path(portfolio) do %>
                  <%= attachment_image_tag portfolio, :image %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= attachment_image_tag portfolio.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%= link_to portfolio.user.username, user_path(portfolio.user) %></div>
                </div>
              </div>

              <div class="card-content">
                <div class="content">
                  <div class="content average-score">
                    <div class="star-rating mb-2">
                      <div class="star-rating-front" style="width: <%= portfolio.review_score_percentage %>%">★★★★★</div>
                      <div class="star-rating-back">★★★★★</div>
                    </div>
                    <div class="average-score-display ml-3 pt-2">
                      <%= portfolio.avg_score %>点（<%= portfolio.reviews.count %>件のレビュー）
                    </div>
                  </div>
                </div>
              </div>
              <footer class="card-footer">
                <%= link_to portfolio_reviews_path(portfolio), class: "button card-footer-item" do %>
                  レビューを見る
                <% end %>
                <%= link_to portfolio_path(portfolio), class: "button card-footer-item" do %>
                  レビューを書く
                <% end %>
              </footer>

              <div class="content">
                <time><%= portfolio.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>